<div local-class="wrapper {{if @folder.isExpanded "expanded"}}">
  {{#if @folder.isExpanded}}
    <DragSortList
      local-class="items"
      @handle=".drag-handle"
      @items={{@folder.items}}
      @dragEndAction={{action @onMove}}
      as |item index|
    >
      {{#if item.slug}}
        <BtFavoritesTree::Trade
          @trade={{item}}
          @onUpdate={{action @onUpdate}}
          @onDelete={{action this.deleteAt index}}
        />
      {{else}}
        <BtFavoritesTree::Folder
          @folder={{item}}
          @onUpdate={{action @onUpdate}}
          @onMove={{action @onMove}}
          @onDelete={{action this.deleteAt index}}
        />
      {{/if}}
    </DragSortList>

    <div local-class="root-buttons">
      <button
        local-class="root-button"
        onclick={{action this.createFolder}}
      >
        <FaIcon @icon="folder-plus"/>
        {{t "pods.components.bt-favorites-tree.folder.new_folder"}}
      </button>

      <button
        local-class="root-button {{if this.tradeLocation.slug "visible" "hidden"}}"
        onclick={{action this.createTrade}}
      >
        <FaIcon @icon="save"/>
        {{t "pods.components.bt-favorites-tree.folder.new_trade"}}
      </button>
    </div>
  {{/if}}

  <div local-class="header">
    <div
      class="drag-handle"
      local-class="drag-handle"
      draggable="true"
    >
      <FaIcon @icon="bars" />
    </div>

    <div local-class="title">
      {{#unless this.isEditing}}
        <button
          type="button"
          local-class="title-link"
          onclick={{action this.toggleExpanded}}
        >
          <FaIcon local-class="chevron" @icon="chevron-down"/>

          <span local-class="title-label">
            {{@folder.title}}
          </span>
        </button>
      {{else}}
        <BtInlineInput
          @value={{@folder.title}}
          @onCancel={{action this.stopEditing}}
          @onConfirm={{action this.updateTitle}}
        />
      {{/unless}}
    </div>

    <div local-class="actions">
      <button
        type="button"
        local-class="action"
        onclick={{action this.startEditing}}
      >
        <FaIcon @icon="pen" />
      </button>

      <button
        type="button"
        local-class="action"
        onclick={{action @onDelete}}
      >
        <FaIcon @icon="trash-alt" />
      </button>
    </div>
  </div>
</div>
