<div local-class="wrapper">
  {{#if @folder.isExpanded}}
    <DragSortList
      local-class="items"
      @items={{@folder.items}}
      @dragEndAction={{action @onMove}}
      as |item index|
    >
      {{#if item.slug}}
        <BtFavoritesTree::Trade
          @trade={{item}}
          @onDelete={{action this.deleteAt index}}
        />
      {{else}}
        <BtFavoritesTree::Folder
          @folder={{item}}
          @onUpdate={{action @onUpdate}}
          @onMove={{action @onMove}}
          @onDelete={{action this.deleteAt index}}
        />
      {{/if}}
    </DragSortList>

    <div local-class="root-buttons">
      <button
        local-class="root-button"
        onclick={{action this.createFolder}}
      >
        <FaIcon @icon="folder-plus"/>
        {{t "pods.components.bt-favorites-tree.folder.new_folder"}}
      </button>

      <button
        local-class="root-button {{if this.tradeLocation.slug "visible" "hidden"}}"
        onclick={{action this.createTrade}}
      >
        <FaIcon @icon="save"/>
        {{t "pods.components.bt-favorites-tree.folder.new_trade"}}
      </button>
    </div>
  {{/if}}

  <div local-class="header {{if @folder.isExpanded "expanded"}}">
    <div local-class="title-wrapper">
      <FaIcon local-class="chevron" @icon="chevron-down"/>

      <button type="button" local-class="title-link" onclick={{this.toggleExpanded}}>
        {{@folder.title}}
      </button>
    </div>

    <div local-class="actions">
      <FaIcon @icon="trash-alt" local-class="action" onclick={{action @onDelete}}/>
    </div>
  </div>
</div>
