<div
  local-class="header {{if @folder.isExpanded "expanded"}}"
  onclick={{this.toggleExpanded}}
>
  <div local-class="title-wrapper">
    <FaIcon local-class="chevron" @icon="chevron-down"/>

    <span local-class="title">
      {{@folder.title}}
    </span>
  </div>

  <div></div>
</div>

{{#if @folder.isExpanded}}
  <DragSortList
    local-class="items"
    @items={{@folder.items}}
    @dragEndAction={{action @onMoveItem}}
    as |item|
  >
    {{#if item.slug}}
      <BtFavoritesTree::Trade @trade={{item}} />
    {{else}}
      <BtFavoritesTree::Folder
        @folder={{item}}
        @onUpdate={{action @onUpdate}}
        @onMoveItem={{action @onMoveItem}}
      />
    {{/if}}
  </DragSortList>
{{/if}}
