<LoadingContainer
  {{on-window-focus (perform this.refetchFoldersTask)}}
  @task={{this.initialFetchFoldersTask}}
  @size="large"
>
  {{#if this.folders}}
    <div local-class="header-actions">
      <Button
        type="button"
        @theme="gold"
        @label={{t "page.bookmarks.collapse-all"}}
        @icon="compress-alt"
        @onClick={{fn this.collapseAllFolderIds}}
      />
    </div>

    <SortableGroup
      local-class="folders-wrapper"
      @tagName="div"
      @model={{this.folders}}
      @onChange={{perform this.reorderFoldersTask}}
      as |group|
    >
      {{#each this.folders key="id" as |folder|}}
        {{#component
          group.item
          local-class="folder-wrapper"
          tagName="div"
          model=folder
        as |dragItem|
        }}
          <Page::Bookmarks::Folder
            local-class="folder"
            @folder={{folder}}
            @dragHandle={{dragItem.handle}}
            @expandedFolderIds={{this.expandedFolderIds}}
            @onEdit={{fn this.stageFolder}}
            @onDelete={{perform this.deleteFolderTask}}
            @onExpansionToggle={{fn this.toggleFolderExpansion}}
          />
        {{/component}}
      {{/each}}
    </SortableGroup>
  {{/if}}

  <div local-class="actions">
    <Button
      type="button"
      local-class="create-folder-button"
      @theme="gold"
      @label={{t "page.bookmarks.create-folder"}}
      @icon="folder-plus"
      @onClick={{fn this.createFolder}}
    />

    <Button
      type="button"
      local-class="create-folder-button"
      @theme="gold"
      @label={{t "page.bookmarks.import-folder"}}
      @icon="file-import"
      @onClick={{fn this.importFolder}}
    />
  </div>

  {{#if this.foldersWarningIsVisible}}
    <AlertMessage
      local-class="folders-warning"
      @type="warning"
      @message={{t "page.bookmarks.folders-warning"}}
    />
  {{/if}}
</LoadingContainer>

{{#if this.stagedFolder}}
  <Page::Bookmarks::FolderEdition
    @folder={{this.stagedFolder}}
    @onCancel={{fn this.unstageFolder}}
    @submitTask={{this.persistFolderTask}}
  />
{{/if}}

{{#if this.isImportingFolder}}
  <Page::Bookmarks::FolderImport
    @onCancel={{fn this.cancelImportFolder}}
    @submitTask={{this.persistImportedFolderTask}}
  />
{{/if}}
