<div local-class="wrapper">
  <input
    autofocus
    type="text"
    local-class="input"
    value={{@value}}
    oninput={{action this.handleInput}}
    onkeyup={{action this.handleKeyup}}
  />

  <div local-class="buttons">
    <button
      type="button"
      local-class="button"
      onclick={{action this.confirm}}
    >
      <FaIcon @icon="check"/>
    </button>

    <button
      type="button"
      local-class="button"
      onclick={{action @onCancel}}
    >
      <FaIcon @icon="times"/>
    </button>
  </div>
</div>

