<div
  {{on "click" (fn this.showItems)}}
  local-class="contextual-menu"
  ...attributes
>
  <FaIcon @icon="ellipsis-h" />
</div>

{{#if this.itemsAreVisible}}
  <EmberWormhole @to="contextual-menu-items">
    <div
      {{on "mouseleave" (perform this.debouncedHideItemsTask)}}
      {{on "mouseenter" (fn this.cancelDebouncedHideItemsTask)}}
      style={{safe-styles this.positionStyles}}
      local-class="contextual-menu-items"
    >
      {{yield (component "contextual-menu/item" didClick=(fn this.hideItems))}}
    </div>
  </EmberWormhole>
{{/if}}
