<div local-class="sections">
  {{#if this.currentChangelog}}
    <section local-class="section">
      <MarkdownChangelog @markdown={{this.currentChangelog.markdown}}/>
    </section>
  {{/if}}

  <section local-class="section">
    <h1 local-class="section-title">
      {{t "page.about.github.title"}}
    </h1>

    <p local-class="section-description">
      {{t "page.about.github.description"}}
    </p>

    <Button
      @href={{this.githubUrl}}
      @theme="blue"
      @icon="github"
      @label={{t "page.about.github.button"}}
    />
  </section>
</div>

<p local-class="disclaimer">
  {{t "page.about.disclaimer"}}
</p>

<p local-class="version">
  {{this.appVersion}}
</p>
