<div local-class="toolbar">
  <button
    type="button"
    local-class="toolbar-button"
    onclick={{action this.collapseAllFolders}}
  >
    <FaIcon @icon="compress-arrows-alt" @fixedWidth={{true}} />
  </button>

  <div local-class="toolbar-button-group">
    <button
      type="button"
      local-class="toolbar-button"
      onclick={{action this.createRootFolder}}
    >
      <FaIcon @icon="folder-plus" @fixedWidth={{true}} />
    </button>

    <button
      type="button"
      local-class="toolbar-button"
      onclick={{action this.createRootBuildFolder}}
    >
      <FaIcon @icon="hat-wizard" @fixedWidth={{true}} />
    </button>
  </div>
</div>

<div local-class="wrapper">
  <DragSortList
    @handle=".drag-handle"
    @items={{this.items}}
    @dragEndAction={{action this.move}}
    as |item index|
  >
    {{#if item.slug}}
      <BtFavoritesTree::Trade
        @trade={{item}}
        @onUpdate={{action this.persist}}
        @onDelete={{action this.deleteAt index}}
      />
    {{else}}
      <BtFavoritesTree::Folder
        @folder={{item}}
        @onUpdate={{action this.persist}}
        @onMove={{action this.move}}
        @onDelete={{action this.deleteAt index}}
      />
    {{/if}}
  </DragSortList>
</div>
