<div local-class="toolbar">
  <button
    type="button"
    local-class="toolbar-button"
    onclick={{action this.expandAllFolders}}
  >
    <FaIcon @icon="expand-arrows-alt" @fixedWidth={{true}} />
  </button>

  <button
    type="button"
    local-class="toolbar-button"
    onclick={{action this.collapseAllFolders}}
  >
    <FaIcon @icon="compress-arrows-alt" @fixedWidth={{true}} />
  </button>
</div>

<div local-class="wrapper">
  <DragSortList
    @items={{this.items}}
    @dragEndAction={{action this.move}}
    as |item index|
  >
    {{#if item.slug}}
      <BtFavoritesTree::Trade
        @trade={{item}}
        @onDelete={{action this.deleteAt index}}
      />
    {{else}}
      <BtFavoritesTree::Folder
        @folder={{item}}
        @onUpdate={{action this.persist}}
        @onMove={{action this.move}}
        @onDelete={{action this.deleteAt index}}
      />
    {{/if}}
  </DragSortList>
</div>
