<div local-class="wrapper">
  <DragSortList
    @items={{this.items}}
    @dragEndAction={{action this.moveItem}}
    as |item|
  >
    {{#if item.slug}}
      <BtFavoritesTree::Trade @trade={{item}} />
    {{else}}
      <BtFavoritesTree::Folder
        @folder={{item}}
        @onUpdate={{action this.persistFavorites}}
        @onMoveItem={{action this.moveItem}}
      />
    {{/if}}
  </DragSortList>
</div>
