<div local-class="container {{if this.isExpanded "is-expanded"}}" ...attributes>
  <div local-class="header">
    <div
      {{on "click" (fn this.toggleExpansion)}}
      local-class="expansion-wrapper"
    >
      {{#if @folder.icon}}
        <img
          local-class="header-icon {{if this.iconIsItem "is-item" "is-ascendancy"}}"
          src={{image-resource-url this.iconPath}}
          alt={{@folder.icon}}
        >
      {{/if}}

      <div local-class="header-label">
        {{@folder.title}}
      </div>

      <FaIcon @icon="chevron-down" local-class="expansion-indicator" />
    </div>

    <div local-class="header-actions">
      {{#component
        @dragHandle
        tagName="button"
        type="button"
        local-class="header-action"
      }}
        <FaIcon @icon="bars" />
      {{/component}}
    </div>
  </div>

  <div local-class="body" {{did-insert (perform this.fetchTradesTask)}}>
    <AnimatedContainer>
      {{#animated-if this.isExpanded use=this.fadeTransition duration=200}}
        <SortableGroup
          local-class="trades"
          @tagName="ul"
          @model={{this.trades}}
          @onChange={{perform this.reorderTradesTask}}
          as |group|
        >
          {{#each (ranked this.trades) key="id" as |trade|}}
            {{#component
              group.item
              local-class="trade"
              tagName="li"
              model=trade
            as |dragItem|
            }}
              <div
                {{on "click" (fn this.navigateToTrade trade)}}
                local-class="trade-link"
              >
                {{trade.title}}
              </div>

              <div local-class="trade-actions">
                <button
                  {{on "click" (fn this.editTrade trade)}}
                  type="button"
                  local-class="trade-action"
                >
                  <FaIcon @icon="pen" />
                </button>

                <button
                  {{on "click" (fn this.deleteTrade trade)}}
                  type="button"
                  local-class="trade-action"
                >
                  <FaIcon @icon="trash-alt" />
                </button>

                {{#component
                  dragItem.handle
                  tagName="button"
                  type="button"
                  local-class="trade-action"
                }}
                  <FaIcon @icon="bars" />
                {{/component}}
              </div>
            {{/component}}
          {{/each}}
        </SortableGroup>

        <div local-class="folder-actions">
          <Button
            type="button"
            local-class="folder-actions-new-trade"
            @theme="gold"
            @label={{t "bookmarks.folder.create-trade"}}
            @onClick={{fn this.createTrade}}
          />

          <Button
            type="button"
            @theme="blue"
            @icon="pen"
            @onClick={{fn this.editFolder}}
          />

          <Button
            type="button"
            @theme="red"
            @icon="trash-alt"
            @onClick={{fn this.deleteFolder}}
          />
        </div>
      {{/animated-if}}
    </AnimatedContainer>
  </div>
</div>

{{#if this.stagedTrade}}
  <Bookmarks::TradeEdition
    @trade={{this.stagedTrade}}
    @folderId={{@folder.id}}
    @onCancel={{fn this.unstageTrade}}
    @submitTask={{this.persistTradeTask}}
  />
{{/if}}

{{#if this.stagedDeletingTrade}}
  <Modal
    @title={{t "bookmarks.folder.trade-deletion.title"}}
    @onClose={{fn this.cancelTradeDeletion}}
  >
    <p local-class="deletion-modal-confirmation">
      {{html-safe
        (t "bookmarks.folder.trade-deletion.confirmation" name=this.stagedDeletingTrade.title)
      }}
    </p>

    <div local-class="deletion-modal-actions">
      <Button
        type="button"
        @theme="red"
        @label="{{t "bookmarks.folder.trade-deletion.delete"}}"
        @onClick={{perform this.deleteTradeTask this.stagedDeletingTrade}}
        @icon="trash-alt"
      />

      <Button
        type="button"
        @theme="blue"
        @label="{{t "bookmarks.folder.trade-deletion.cancel"}}"
        @onClick={{fn this.cancelTradeDeletion}}
      />
    </div>
  </Modal>
{{/if}}

{{#if this.isStagedForDeletion}}
  <Modal
    @title={{t "bookmarks.folder.folder-deletion.title"}}
    @onClose={{fn this.cancelFolderDeletion}}
  >
    <p local-class="deletion-modal-confirmation">
      {{html-safe
        (t "bookmarks.folder.folder-deletion.confirmation" name=@folder.title tradesCount=this.trades.length)
      }}
    </p>

    <div local-class="deletion-modal-actions">
      <Button
        type="button"
        @theme="red"
        @label="{{t "bookmarks.folder.folder-deletion.delete"}}"
        @onClick={{fn this.confirmFolderDeletion}}
        @icon="trash-alt"
      />

      <Button
        type="button"
        @theme="blue"
        @label="{{t "bookmarks.folder.folder-deletion.cancel"}}"
        @onClick={{fn this.cancelFolderDeletion}}
      />
    </div>
  </Modal>
{{/if}}
