<div local-class="container {{if this.isExpanded "is-expanded"}}" ...attributes>
  <div local-class="header">
    {{#if @folder.icon}}
      <img
        local-class="header-icon {{if this.iconIsItem "is-item" "is-ascendancy"}}"
        src={{image-resource-url this.iconPath}}
        alt={{@folder.icon}}
      >
    {{/if}}

    <div local-class="header-label">
      {{@folder.title}}
    </div>

    <div local-class="header-actions">
      <button
        {{on "click" (fn this.toggleExpansion)}}
        type="button"
        local-class="header-action"
      >
        <FaIcon @icon="chevron-down" local-class="expansion-indicator" />
      </button>

      {{#component
        @dragHandle
        tagName="button"
        type="button"
        local-class="header-action"
      }}
        <FaIcon @icon="bars" />
      {{/component}}
    </div>
  </div>

  <div local-class="body">
    <AnimatedContainer>
      {{#animated-if this.isExpanded use=this.fadeTransition duration=200}}
        <SortableGroup
          local-class="trades"
          @tagName="ul"
          @model={{this.trades}}
          @onChange={{fn this.reorderTrades}}
          as |group|
        >
          {{#each (ranked this.trades) key="id" as |trade|}}
            {{#component
              group.item
              local-class="trade"
              tagName="li"
              model=trade
            as |item|
            }}
              <div
                {{on "click" (fn this.navigateToTrade trade)}}
                local-class="trade-link"
              >
                {{trade.title}}
              </div>

              <div local-class="trade-actions">
                <button
                  {{on "click" (fn this.editTrade trade)}}
                  type="button"
                  local-class="trade-action"
                >
                  <FaIcon @icon="pen" />
                </button>

                {{#component
                  item.handle
                  tagName="button"
                  type="button"
                  local-class="trade-action"
                }}
                  <FaIcon @icon="bars" />
                {{/component}}
              </div>
            {{/component}}
          {{/each}}
        </SortableGroup>

        <div local-class="folder-actions">
          <Button
            type="button"
            local-class="folder-actions-new-trade"
            @theme="gold"
            @label={{t "bookmarks.folder.create-trade"}}
            @onClick={{fn this.createTrade}}
          />

          <Button
            type="button"
            @theme="blue"
            @icon="pen"
            @onClick={{fn this.editFolder}}
          />
        </div>
      {{/animated-if}}
    </AnimatedContainer>
  </div>
</div>

{{#if this.stagedTrade}}
  <Bookmarks::TradeEdition
    @trade={{this.stagedTrade}}
    @folderId={{@folder.id}}
    @onCancel={{fn this.unstageTrade}}
    @onSave={{fn this.handleTradeSave}}
  />
{{/if}}
