<div local-class="container">
  <div
    {{on "click" (fn this.toggleExpansion)}}
    local-class="header"
  >
    {{#if @folder.icon}}
      <img
        local-class="header-icon {{if this.iconIsItem "is-item" "is-ascendancy"}}"
        src={{image-resource-url this.iconPath}}
        alt={{@folder.icon}}
      >
    {{/if}}

    <div local-class="header-label">
      {{@folder.title}}
    </div>
  </div>

  <div local-class="body">
    <AnimatedContainer>
      {{#animated-if this.isExpanded use=this.fadeTransition duration=200}}
        <ul local-class="trades">
          {{#each this.trades key="@index" as |trade|}}
            <li local-class="trade">
              <div
                {{on "click" (fn this.navigateToTrade trade)}}
                local-class="trade-link"
              >
                {{trade.title}}
              </div>

              <div local-class="trade-actions">
                <button
                  {{on "click" (fn this.editTrade trade)}}
                  type="button"
                  local-class="trade-action"
                >
                  <FaIcon @icon="pen" />
                </button>
              </div>
            </li>
          {{/each}}
        </ul>

        <div local-class="folder-actions">
          <Button
            type="button"
            local-class="folder-actions-new-trade"
            @theme="gold"
            @label={{t "bookmarks.folder.create-trade"}}
            @onClick={{fn this.createTrade}}
          />

          <Button
            type="button"
            @theme="blue"
            @icon="pen"
            @onClick={{fn this.editFolder}}
          />
        </div>
      {{/animated-if}}
    </AnimatedContainer>
  </div>
</div>

{{#if this.stagedTrade}}
  <Bookmarks::TradeEdition
    @trade={{this.stagedTrade}}
    @folderId={{@folder.id}}
    @onCancel={{fn this.unstageTrade}}
    @onSave={{fn this.handleTradeSave}}
  />
{{/if}}
