<div local-class="container">
  <button
    {{on "click" (fn this.collapse)}}
    type="button"
    local-class="header-button"
  >
    <FaIcon @icon="angle-right" />
  </button>

  <LinkTo local-class="brand" @route="root">
    <img
      local-class="logo"
      src={{image-resource-url "logo.png"}}
    >

    <div local-class="title">
      {{t "general.title"}}
    </div>
  </LinkTo>

  <LinkTo local-class="header-button" @route={{if this.isOnRootRoute "about" "root"}}>
    <FaIcon @icon={{if this.isOnRootRoute "info-circle" "times"}} @fixedWidth={{true}}/>
  </LinkTo>
</div>

<button
  {{on "click" (fn this.expand)}}
  type="button"
  local-class="expand-button {{if this.expandButtonIsVisible "is-visible"}}"
>
  <FaIcon @icon="angle-left" local-class="expand-button-icon"/>

  <img
    local-class="logo"
    src={{image-resource-url "logo.png"}}
  >
</button>
