<button
  {{on "click" (fn this.handleClick)}}
  local-class="button is-{{@theme}} {{if @icon "with-icon"}}"
  ...attributes
>
  {{#if @icon}}
    <FaIcon
      @icon={{@icon}}
      local-class="icon"
    />
  {{/if}}

  {{#if @label}}
    <span local-class="label ">
      {{@label}}
    </span>
  {{/if}}
</button>
