{{#if @href}}
  <a
    href={{@href}}
    target="_blank"
    rel="noopener"
    local-class="button is-{{@theme}}"
    ...attributes
  >
    <Button::Content
      @label={{@label}}
      @icon={{@icon}}
    />
  </a>
{{else if @onFileChange}}
  <label local-class="button is-{{@theme}}" ...attributes>
    <input
     {{on "change" @onFileChange}}
     local-class="file-input"
     type="file"
     accept={{this.fileAccept}}
    >

    <Button::Content
      @label={{@label}}
      @icon={{@icon}}
    />
  </label>
{{else}}
  <button
    {{on "click" (fn this.handleClick)}}
    local-class="button is-{{@theme}}"
    ...attributes
  >
    <Button::Content
      @label={{@label}}
      @icon={{@icon}}
    />
  </button>
{{/if}}
