{{#if @href}}
  <a
    href={{@href}}
    target="_blank"
    rel="noopener"
    local-class="button is-{{@theme}}"
    ...attributes
  >
    <Button::Content
      @label={{@label}}
      @icon={{@icon}}
    />
  </a>
{{else}}
  <button
    {{on "click" (fn this.handleClick)}}
    local-class="button is-{{@theme}} {{if @icon "with-icon"}}"
    ...attributes
  >
    <Button::Content
      @label={{@label}}
      @icon={{@icon}}
    />
  </button>
{{/if}}
