<Modal
  @title={{t "page.bookmarks.folder.folder-export.modal-title"}}
  @onClose={{fn @onCancel}}
>
  <div local-class="folder-export-container">
    {{#if this.canPreview}}
      <Form::Field
        @label={{t "page.bookmarks.folder.folder-export.preview-url"}}
      >
        <Button
          @href={{this.previewUrl}}
          @theme="blue"
          @icon="link"
          @label={{t "page.bookmarks.folder.folder-export.preview-url-button"}}
          target="_blank"
          rel="noreferrer noopener"
        />
      </Form::Field>
    {{/if}}

    <Form::Field
      @label={{t "page.bookmarks.folder.folder-export.export-code"}}
      @helper={{t "page.bookmarks.folder.folder-export.export-code-helper"}}
    >
      <ClipboardTextarea @value={{this.serializedFolder}} />
    </Form::Field>

    {{#if this.canPreview}}
      <Form::Field
        @label={{t "page.bookmarks.folder.folder-export.embed-code"}}
        @helper={{t "page.bookmarks.folder.folder-export.embed-code-helper"}}
      >
        <ClipboardTextarea @value={{this.embedCode}} />
      </Form::Field>
    {{/if}}

    <Button
      type="button"
      @theme="blue"
      @label={{t "page.bookmarks.folder.folder-export.close"}}
      @onClick={{fn @onCancel}}
    />
  </div>
</Modal>
