<div
  {{did-insert (perform this.initialSetupTask)}}
  local-class="container {{if this.isExpanded "is-expanded"}}"
  ...attributes
>
  <div local-class="header">
    <div
      {{on "click" (perform this.toggleExpansionTask)}}
      local-class="expansion-wrapper"
    >
      {{#if @folder.icon}}
        <img
          local-class="header-icon {{if this.iconIsItem "is-item" "is-ascendancy"}}"
          src={{image-resource-url this.iconPath}}
          alt={{@folder.icon}}
        >
      {{/if}}

      <div local-class="header-label">
        {{@folder.title}}
      </div>

      <FaIcon @icon="chevron-down" local-class="expansion-indicator" />
    </div>

    <div local-class="header-actions">
      <ContextualMenu local-class="header-action" as |MenuItem|>
        <MenuItem
          @label={{t "page.bookmarks.folder.edit-folder"}}
          @onClick={{fn this.editFolder}}
        />
        <MenuItem
          @label={{t "page.bookmarks.folder.delete-folder"}}
          @onClick={{fn this.deleteFolder}}
        />
      </ContextualMenu>

      {{#component
        @dragHandle
        tagName="button"
        type="button"
        local-class="header-action"
      }}
        <FaIcon @icon="sort" />
      {{/component}}
    </div>
  </div>

  <div local-class="body {{if this.isAnimating "is-animating"}}">
    <AnimatedContainer>
      {{#animated-if
        (and this.isExpanded this.isLoaded)
        use=this.fadeTransition
        duration=200
      }}
        <SortableGroup
          local-class="trades {{if this.isReorderingTrades "is-reordering"}}"
          @tagName="ul"
          @model={{this.trades}}
          @onChange={{perform this.reorderTradesTask}}
          as |group|
        >
          {{#each (ranked this.trades) key="id" as |trade|}}
            {{#component
              group.item
              local-class="trade"
              tagName="li"
              model=trade
              onDragStart=(fn this.startTradesReordering)
              onDragStop=(fn this.stopTradesReordering)
            as |dragItem|
            }}
              <a href={{trade-url trade.location.type trade.location.slug}} local-class="trade-link">
                {{#if trade.completedAt}}
                  <span local-class="trade-link-completed">
                    <FaIcon @icon="check"  />
                  </span>
                {{/if}}

                {{trade.title}}
              </a>

              <div local-class="trade-actions">
                <ContextualMenu local-class="trade-action" as |MenuItem|>
                  <MenuItem
                    @label={{t "page.bookmarks.folder.update-trade-location"}}
                    @onClick={{perform this.updateTradeLocationTask trade}}
                  />
                  <MenuItem
                    @label={{if
                      trade.completedAt
                      (t "page.bookmarks.folder.uncomplete-trade")
                      (t "page.bookmarks.folder.complete-trade")
                    }}
                    @onClick={{perform this.toggleTradeCompletionTask trade}}
                  />
                  <MenuItem
                    @label={{t "page.bookmarks.folder.edit-trade"}}
                    @onClick={{fn this.editTrade trade}}
                  />
                  <MenuItem
                    @label={{t "page.bookmarks.folder.delete-trade"}}
                    @onClick={{fn this.deleteTrade trade}}
                  />
                </ContextualMenu>

                {{#component
                  dragItem.handle
                  tagName="button"
                  type="button"
                  local-class="trade-action"
                }}
                  <FaIcon @icon="sort"/>
                {{/component}}
              </div>
            {{/component}}
          {{/each}}
        </SortableGroup>

        <div local-class="folder-actions">
          <Button
            type="button"
            local-class="folder-actions-new-trade"
            @theme="gold"
            @label={{t "page.bookmarks.folder.create-trade"}}
            @onClick={{fn this.createTrade}}
          />
        </div>
      {{/animated-if}}
    </AnimatedContainer>
  </div>
</div>

{{#if this.stagedTrade}}
  <Page::Bookmarks::Folder::TradeEdition
    @trade={{this.stagedTrade}}
    @folderId={{@folder.id}}
    @onCancel={{fn this.unstageTrade}}
    @submitTask={{this.persistTradeTask}}
  />
{{/if}}

{{#if this.stagedDeletingTrade}}
  <Modal
    @title={{t "page.bookmarks.folder.trade-deletion.title"}}
    @onClose={{fn this.cancelTradeDeletion}}
  >
    <p local-class="deletion-modal-confirmation">
      {{html-safe
        (t "page.bookmarks.folder.trade-deletion.confirmation" name=this.stagedDeletingTrade.title)
      }}
    </p>

    <div local-class="deletion-modal-actions">
      <Button
        type="button"
        @theme="red"
        @label="{{t "page.bookmarks.folder.trade-deletion.delete"}}"
        @onClick={{perform this.deleteTradeTask this.stagedDeletingTrade}}
        @icon="trash-alt"
      />

      <Button
        type="button"
        @theme="blue"
        @label="{{t "page.bookmarks.folder.trade-deletion.cancel"}}"
        @onClick={{fn this.cancelTradeDeletion}}
      />
    </div>
  </Modal>
{{/if}}

{{#if this.isStagedForDeletion}}
  <Modal
    @title={{t "page.bookmarks.folder.folder-deletion.title"}}
    @onClose={{fn this.cancelFolderDeletion}}
  >
    <p local-class="deletion-modal-confirmation">
      {{html-safe
        (t "page.bookmarks.folder.folder-deletion.confirmation" name=@folder.title tradesCount=this.trades.length)
      }}
    </p>

    <div local-class="deletion-modal-actions">
      <Button
        type="button"
        @theme="red"
        @label="{{t "page.bookmarks.folder.folder-deletion.delete"}}"
        @onClick={{fn this.confirmFolderDeletion}}
        @icon="trash-alt"
      />

      <Button
        type="button"
        @theme="blue"
        @label="{{t "page.bookmarks.folder.folder-deletion.cancel"}}"
        @onClick={{fn this.cancelFolderDeletion}}
      />
    </div>
  </Modal>
{{/if}}
