<RootPageMenu
  @currentPage={{this.currentPage}}
  @onChange={{fn this.changeCurrentPage}}
/>

<div
  {{did-insert (fn this.subscribeToPinnedItemsChange)}}
  {{will-destroy (fn this.unsubscribeFromPinnedItemsChange)}}
>
  {{component this.currentPageComponentName}}
</div>
