<Modal
  @title={{t "page.bookmarks.folder-import.modal-title"}}
  @onClose={{fn @onCancel}}
>
  <Form::Container
    @submitTask={{@submitTask}}
    @entity={{this.submitEntity}}
    @canSubmit={{this.canSubmit}}
  >
    <Form::Input
      @label={{t "page.bookmarks.folder-import.import-code.label"}}
      @autofocus={{true}}
      @onChange={{fn this.handleInput}}
    />

    {{#if this.stagedFolder}}
      <div local-class="import-preview">
        {{#if this.stagedFolder.icon}}
          <BookmarkFolderIcon @icon={{this.stagedFolder.icon}}/>
        {{/if}}

        <div local-class="import-preview-title">
          {{t
            "page.bookmarks.folder-import.preview"
            name=this.stagedFolder.title
            tradesCount=this.stagedTrades.length
          }}
        </div>
      </div>
    {{else if this.isInvalid}}
      <AlertMessage
        @message={{t "page.bookmarks.folder-import.invalid-code"}}
        @type="alert"
      />
    {{/if}}

    <Button
      type="submit"
      @theme="gold"
      @label={{t "page.bookmarks.folder-import.save"}}
      @icon="save"
    />
  </Form::Container>
</Modal>
